body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.quiz-container {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    margin-bottom: 10px;
}

.options button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.options button:hover {
    background-color: #0056b3;
}

.correct {
    background-color: #28a745 !important;
}

.incorrect {
    background-color: #dc3545 !important;
}

.stats,
.timer {
    font-size: 20px;
    margin-top: 20px;
}

.stats {
    display: none;
}